.Container {
  display: flex;
  justify-content: center;
}

.ContainerInfo {
  width: 94.5%;
  height: 540px;
  background-color: rgb(80, 45, 45);
  margin-top: 22.5%;
  margin-bottom: 3%;
  padding: 2%;
  border-radius: 7px;
}

.imagemCard {
  width: 100%;
  height: 380px;
  padding: 5%;
}

.ContainerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5.5%;
  padding: 2%;
}

.Titulo {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: rgb(205, 133, 66);
  text-transform: uppercase;
  font-size: clamp(18px, 21.5px, 28px);
  max-width: 100%;
  overflow-x: hidden;
}

.subTitulo {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(17px, 27px, 29px);
  text-transform: uppercase;
  color: rgb(205, 133, 66);
}

.informacoes {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: clamp(15px, 17.5px, 23px);
  text-align: center;
  margin-left: 6%;
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .Titulo {
    font-size: clamp(18px, 20.5px, 24px);
    color: rgb(255, 255, 255);
    margin: 2%;
  }

  .ContainerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2%;
  }

  .ContainerInfo {
    width: 30%;
    height: 585px;
    margin-top: 9.5%;
    padding: 1%;
  }
}
